.reports-container {
    margin: 70px 20px;
    padding: 30px;
    background-color: #ffffff;
    min-height: 420px;
}
.exam-details {
    background-color: #2185d0;
}
.back-button {
    right: 50px;
    position: absolute !important;
    margin-top: -4px;
}