<div class="reports-container">
    <div class="twelve wide column mb-20">
        <div class="ui grid">
            <div class="four wide column">
                <sui-select class="selection" [(ngModel)]="selectedExam" (ngModelChange)="ngOnInit()" labelField="title"
                    placeholder="Select Exam" [isSearchable]="searchable" #examListDropDown>
                    <sui-select-option *ngFor="let examData of examList" [value]="examData">
                    </sui-select-option>
                </sui-select>
            </div>
            <div class="four wide column">
                <sui-select class="selection" labelField="title" placeholder="Select State" [isDisabled]="true"
                    [isSearchable]="searchable">
                </sui-select>
            </div>
            <div class="four wide column">
                <sui-select class="selection" labelField="title" placeholder="Select District" [isDisabled]="true"
                    [isSearchable]="searchable">
                </sui-select>
            </div>
            <div class="four wide column">
                <sui-select class="selection" labelField="title" placeholder="Select School" [isDisabled]="true"
                    [isSearchable]="searchable">
                </sui-select>
            </div>
        </div>
    </div>
    <div class="twelve wide column" *ngIf="!displaySegment && !displayAnswer">
        <div class="ui top attached tabular menu">
            <a class="item" [ngClass]="{'active':currentTab==='tab1'}" (click)="currentTab='tab1'">
                Student Lists
            </a>
            <a class="item" [ngClass]="{'active':currentTab==='tab2'}" (click)="currentTab='tab2'">
                Results
            </a>
        </div>
        <div class="ui bottom attached segment" *ngIf="currentTab==='tab1'">
            <p-table [columns]="studentTableColumns" [value]="studentList?.studentdata">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns" [ngClass]="{'text-center':col.header !== 'Name'}">
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="ui bottom attached segment" *ngIf="currentTab==='tab2'">
            <div class="twelve wide column mb-20">
                <div class="ui grid exam-details m-0">
                    <div class="four wide column">
                        <span class="mr-15"><b>Title</b></span>
                        <span class="mr-20">{{studentList?.examdata?.title}}</span>
                    </div>
                    <div class="four wide column">
                        <span class="mr-15"><b>Total Marks</b></span>
                        <span class="mr-20">{{studentList?.examdata?.totalmarks}}</span>
                    </div>
                    <div class="four wide column">
                        <span class="mr-15"><b>Passing Marks</b></span>
                        <span class="mr-20">{{studentList?.examdata?.passingmarks}}%</span>
                    </div>
                    <div class="four wide column">
                        <span class="mr-15"><b>Students Planned</b></span>
                        <span class="mr-20">{{studentList?.examdata?.noofstudentsplanned}}</span>
                    </div>
                    <div class="four wide column">
                        <span class="mr-15"><b>Students Appeared</b></span>
                        <span class="mr-20">{{studentList?.examdata?.noofstudentappeared}}</span>
                    </div>
                    <div class="four wide column">
                        <span class="mr-15"><b>Date of Exam</b></span>
                        <span class="mr-20">{{studentList?.examdata?.dateofexam}}</span>
                    </div>
                </div>
            </div>
            <p-table [columns]="resultTableColumns" [value]="studentList?.studentdata">
                <ng-template pTemplate="header" let-columns let-index>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                    <tr>
                        <td *ngFor="let col of columns" [ngClass]="{'text-center':col.header !== 'Name'}">
                            <span
                                *ngIf="col.field !=='marksobtainedinpercentage' && col.header !=='Result' && col.header !=='Option'">{{rowData[col.field]}}</span>
                            <span *ngIf="col.field==='marksobtainedinpercentage'">{{rowData[col.field]}}%</span>
                            <a class="ui mini label" *ngIf="col.header==='Result'"
                                [ngClass]="rowData[col.field] === 'Fail' ? 'red':'green'">{{rowData[col.field]}}</a>
                            <button *ngIf="col.header==='Option'" class="mini ui blue button"
                                (click)="showSegment(rowData)"><i class="chart pie icon"></i>View</button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="twelve wide column" *ngIf="displaySegment">
        <div class="ui grid exam-details m-0">
            <div class="thirteen wide column">
                <h5>Test Reports of {{selectedStudent?.name}}</h5>
            </div>
            <div class="two wide column" style="margin-top: -3px;">
                <button class="mini ui default button" (click)="showAnswer('viewAll','')"><i
                        class="list alternate outline icon"></i>View All</button>
            </div>
            <div class="two wide column back-button">
                <button class="mini ui default button pull-right" (click)="displaySegment=false"><i
                        class="arrow circle left icon"></i>Back</button>
            </div>
        </div>
        <div class="twelve wide column mt-20 mb-20">
            <p-table [columns]="segmentTableColumns" [value]="segmentList?.segments">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                    <tr>
                        <td *ngFor="let col of columns" [ngClass]="{'text-center':col.header !== 'Name'}">
                            <span
                                *ngIf="col.header!=='Result' && col.field !=='passingmarks' && col.field !=='marksobtainedpercentage'">{{rowData[col.field]}}</span>
                            <span
                                *ngIf="col.field ==='passingmarks' || col.field ==='marksobtainedpercentage'">{{rowData[col.field]}}%</span>
                            <a class="ui mini label" *ngIf="col.header==='Result'"
                                [ngClass]="rowData[col.field] === 'Fail' ? 'red':'green'">{{rowData[col.field]}}</a>
                            <button *ngIf="col.header==='Option'" class="mini ui blue button"
                                (click)="showAnswer('single',rowIndex)"><i class="chart pie icon"></i>View</button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="ui grid">
            <div class="eight wide column">
                <h4>Question Summary</h4>
                <div id="questionSummaryChart" style="width: 100%; height: 300px"></div>
            </div>
            <div class="eight wide column mb-30">
                <h4>Section Wise Percentage</h4>
                <ng-container *ngFor="let segment of segmentList?.segments">
                    <div class="label">{{segment?.name}}</div>
                    <sui-progress class="blue mb-15" [value]="segment?.marksobtainedpercentage" [showProgress]="true"
                        [maximum]="100" [precision]="0">
                    </sui-progress>
                </ng-container>
                <div class="label mb-15">Total Percentage Obtained</div>
                <sui-progress class="blue mb-15" [value]="selectedStudent?.marksobtainedinpercentage"
                    [showProgress]="true" [maximum]="100" [precision]="0">
                </sui-progress>
            </div>
        </div>
    </div>
    <div class="twelve wide column" *ngIf="displayAnswer">
        <div class="ui blue segment mb-30" *ngFor="let segment of selectedSegment;let i = index;">
            <a class="ui blue ribbon label">{{segment?.name}}</a>
            <div class="back-button" style="margin-top: -25px;margin-right: -40px;" *ngIf="i == 0">
                <button class="mini ui default button"
                    (click)="displayAnswer=false;displaySegment=true;buildPieChartData();"><i
                        class="arrow circle left icon"></i>Back</button>
            </div>
            <div class="twelve wide column mt-15">
                <p-table [columns]="answerTableColumns" [value]="segment?.answers">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                            <td *ngFor="let col of columns" class="text-center">
                                <span *ngIf="col.header!=='Result'">{{rowData[col.field]}}</span>
                                <a class="ui mini label" *ngIf="col.header==='Result'"
                                    [ngClass]="{'green':rowData[col.field]=='Correct','red':rowData[col.field]=='Wrong','yellow':rowData[col.field]=='Unattempted'}">{{rowData[col.field]}}</a>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>